.element__image {
  width: 100%;
  object-fit: cover;
  height: 282px;
  position: relative;
  transition: .2s ease-in-out;
  display: block;/*если сделать так, то не схлопнутся даже с битыми ссылками*/
}

.element__image:hover {
  opacity: 0.9;
  cursor: pointer;
}
