.popup__close {
    background-image: url('../../../images/x.svg');
    width: 32px;
    height: 32px;
    border: none;
    box-sizing: border-box;
    position: absolute;
    background-color: initial;
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    transition: .1s linear;
    cursor: pointer;
    top: -40px;
    right: -40px;
}

@media screen and (max-width: 768px) {
    .popup__close {
        right: 0;
        background-size: 20px;
    }
}

.popup__close:hover {
    opacity: .6;
}