.header {
    max-width: 880px;
    border-bottom: 1px solid rgb(84, 84, 84, .7);
    width: 90%;
    margin: 5% auto auto;
    min-height: 74px;
}

@media screen and (max-width: 425px) {
    .header {
        width: 100%;
        min-height: 58px;
        margin-top: 28px;
    }
}